.lobby__feed, .lobby__tournaments-simuls, .lobby__support, .lobby__blog {
    display: none !important;
}

.tabs-horiz, .lobby__timeline, .lobby__streams {
    display: none !important;
}

.lobby__counters {
    translate: 0 -12%;
}

.lobby__app__content.lpools {
    padding: 0;
}

.lobby__side {
    margin: 0 !important;
}

.lobby__start {
    justify-content: start !important;
    margin: 0 !important;
}

.lobby {
    grid-template-rows: unset !important;
}

.lobby__about {
    display: none !important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding-bottom: 1em;
}

.lpool {
    color: var(--c-font-clearer) !important;
}

.lpool .perf {
    color: var(--c-font-dim);
}

.lpool .clock {
    margin-inline-end: -0.1em;
}

.lpools {
    background: none !important;
}

@media (min-width: 300px) {
    .lpools {
        font-size: calc(14px + 8 * (100vw - 300px) / 900) !important;
    }
}

@media (min-width: 1200px) {
    .lpools {
        font-size: 22px !important;
    }
}

body {
    background: var(--c-bg-page) !important;
    position: relative;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    --m-accent--fade-80: hsla(208, 100%, 42%, 0.2) !important;
    --c-accent: hsl(208 100% 42% / 1) !important;
}

.site-icon {
    display: none !important;
}

#user_tag::after {
    display: none;
}

#topnav {
    position: absolute;
    left: 50vw;
    translate: -50% 0;
}

@media (min-width: 1259.3px) {
    .lobby {
        grid-template-areas:
            "side app app table"
        !important;
    }
}

.connect-links {
    font-family: "Font Awesome 7 Brands";
}

.lobby__spotlights {
    box-shadow: none !important;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.tour-spotlight {
    box-shadow: none !important;
    border-radius: 7px;
}