.lobby__feed, .lobby__tournaments-simuls, .lobby__support, .lobby__blog {
    display: none !important;
}

.lobby__timeline, .lobby__streams {
    display: none !important;
}

.lobby__counters {
    translate: 0 -12%;
}

.lobby__app__content.lpools {
    padding: 0;
}

.lobby__app {
    position: relative;
}

.lobby__side {
    margin: 0 !important;
}

.lobby__start {
    justify-content: start !important;
    margin: 0 !important;
}

.lobby {
    grid-template-rows: unset !important;
}

.lobby__about {
    display: none !important;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding-bottom: 1em;
}

.lpool {
    color: var(--c-font-clearer) !important;
    backdrop-filter: blur(5px);
}

.lpool .perf {
    color: var(--c-font-dim);
}

.lpool .clock {
    margin-inline-end: -0.1em;
}

.lpools {
    background: none;
}

@media (min-width: 300px) {
    .lpools {
        font-size: calc(14px + 8 * (100vw - 300px) / 900) !important;
    }
}

@media (min-width: 1200px) {
    .lpools {
        font-size: 22px !important;
    }
}

body {
    background: var(--c-bg-page) !important;
    position: relative;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    --m-accent--fade-80: hsla(208, 100%, 42%, 0.2) !important;
    --c-accent: hsl(208 100% 42% / 1) !important;
}

.site-icon {
    display: none !important;
}

#user_tag::after {
    display: none;
}

#topnav {
    position: absolute;
    left: 50vw;
    translate: -50% 0;
}

@media (min-width: 499.3px) {
    .lobby {
        grid-template-areas:
            "app app"
            "side table"
            "ratings ratings"
        !important;
    }
}

@media (min-width: 1259.3px) {
    .lobby {
        grid-template-areas:
            "side app app table"
            "ratings ratings ratings ratings"
        !important;
    }
}

@media (min-width: 799.3px) {
    .lobby {
        grid-template-columns: 1fr 1fr;
    }
}


.connect-links {
    font-family: "Font Awesome 7 Brands";
}

.lobby__spotlights {
    box-shadow: none !important;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.tour-spotlight {
    box-shadow: none !important;
    border-radius: 7px;
}

.lpools {
    position: relative;
}

.lpools::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.7;
    z-index: 0;
    pointer-events: none;
    background: inherit;
    mix-blend-mode: overlay;
}

html.light .lpools::before {
    opacity: 0.3;
}

.tabs-horiz {
    width: 105px;
    justify-content: start !important;
    gap: 4px;
    margin: 0;
    position: absolute;
    left: 0;
    top: -1.5em;
    z-index: 200;
}

.tabs-horiz button[role="tab"] {
    font-family: lichess;
}

.lobby__app {
    flex-direction: column-reverse !important;
}

.tabs-horiz [role="tab"] {
    font-size: 0 !important;
    border: none !important;
    position: relative;
    overflow: visible;
    flex-grow: 0;
    transition: scale 200ms ease-out;
    will-change: scale;
}
.tabs-horiz [role="tab"]:nth-child(1)::after { content: ''; font-size: 14px; }
.tabs-horiz [role="tab"]:nth-child(2)::after { content: ''; font-size: 14px; }
.tabs-horiz [role="tab"]:nth-child(3)::after { content: ''; font-size: 14px; }
.tabs-horiz [role="tab"]:nth-child(4)::after { content: ''; font-size: 14px; }

.tabs-horiz [role="tab"]:hover {
    scale: 1.1;
}

.tabs-horiz [role="tab"] {
    color: var(--c-font-dimer) !important;
    opacity: 0.8;
}

.tabs-horiz [role="tab"].active {
    color: var(--c-font-clear) !important;
    opacity: 1;
}

.tabs-horiz icon {
    margin: 0 !important;
    font-size: 8px !important;
    padding: 0px 3px !important;
    position: absolute;
    bottom: 0;
    right: 0;
    translate: 20% 30%;
}

.tabs-horiz [role="tab"]:nth-child(3) {
    display: none;
}

span.mini-game__player:last-child, .lobby__puzzle span.text:last-child {
    margin-top: 0.1em;
}

.hooks__list td:last-child ::before {
    color: var(--c-primary-clear) !important;
}






/* custom elements */

.x__home_ratings {
    display: flex;
    flex-direction: row;
    gap: 6px;
    grid-area: ratings;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 12px 0;
}

.x__home_ratings .mode {
    background: var(--c-bg-zebra);
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    padding: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
    flex-shrink: 0;
    transition: background-color 150ms ease;
    transition-property: background-color color;
    box-shadow: rgba(149, 157, 165, 0.06) 0px 4px 5px;
}

.x__home_ratings .mode:hover {
    background: var(--c-bg-high);
}

html.dark .x__home_ratings .mode {
    background: var(--c-bg-high);
}

html.dark .x__home_ratings .mode:hover {
    background: var(--c-bg-zebra);
}

.x__home_ratings .icon {
    font-family: "lichess";
    font-size: 2em;
    color: var(--c-font-clear);
}

.x__home_ratings .rating {
    font-weight: bold;
    color: var(--c-font-clearer);
}

@media (min-width: 300px) {
    .x__home_ratings .mode {
        font-size: calc(8px + 6 * (100vw - 300px) / 900);
    }
}

@media (min-width: 1200px) {
    .x__home_ratings .mode {
        font-size: 14px;
    }
}

.progress_container {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 0.3em;
}

good.progress_container::before {
    font-family: "lichess";
    content: "";
    margin-right: 0.1em;
}

bad.progress_container::before {
    font-family: "lichess";
    content: "";
    margin-right: 0.1em;
}